---

---

<div class="flex-1 mt-[74px] lg" id={escape("CONFIRMAR PRESENÇA")}>
  <div
    class="min-h-[60vh] ml-[-74px] lg:ml-[-38px] sm:-ml-6 mr-[-74px] lg:mr-[-38px] sm:-mr-6 mb-[-74px] md:mb-[-38px] sm:-mb-6
    bg-orange text-white rounded-t-[100px] md:rounded-t-[60px] rounded-b-none flex items-center justify-center"
  >
    formulário
  </div>
</div>
