---

---

<div
  class="flex-1 relative mt-[74px] lg min-h-[60vh]"
  id={escape("CONFIRMAR PRESENÇA")}
>
  <div
    class="absolute left-[-74px] lg:left-[-38px] right-[-74px] lg:right-[-38px] top-0 bottom-[-74px] md:bottom-[-38] bg-orange text-white
    rounded-t-[100px] md:rounded-t-[60px] flex items-center justify-center"
  >
    formulário
  </div>
</div>
