---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<a
  class="text-green border-b-2 border-transparent hover:border-orange hover:font-bold"
  href={`#${escape(title)}`}
>
  {title}
</a>
