---
import { Image } from "astro:assets";
import ScrollImage from "../assets/scroll.svg";
import Date from "./date.astro";
---

<div
  class="flex-1 flex xl:flex-col 2xl:justify-between justify-evenly items-center gap-[80px] xl:gap-10"
>
  <div
    class="flex flex-col items-center justify-between w-[320px] xl:w-auto flex-shrink-0"
  >
    <div></div>
    <div>
      <h1
        class="alternate text-[108px] xl:text-[92px] md:text-[84px] sm:text-[64px] xs:text-[42px] leading-[1.07] font-bold mb-6 xl:whitespace-nowrap xl:text-center xl:mt-10"
      >
        Inês & <br class="xl:hidden" />Rafael
      </h1>
      <p
        class="text-2xl md:text-xl xs:text-lg leading-[1.4] max-w-[300px] xl:max-w-none xl:text-center"
      >
        Entusiasmados por partilhar convosco o dia do nosso casamento!
      </p>
    </div>
  </div>
  <Date
    className="flex-1 max-w-[800px] xl:max-w-none xl:w-4/5 xl:mt-6 lg:w-[90%] md:w-full"
  />
</div>
<a
  class="mt-10 xl:mx-auto xl:mt-14"
  href={`#${escape("INFORMAÇÃO DE INTERESSE")}`}
>
  <Image
    src={ScrollImage}
    alt="Scroll para mais informações"
    class="hover:fill-black"
  />
</a>
